<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xzhang.boot.mapper.QuestionBankMapper">

    <resultMap id="BaseResultMap" type="cn.xzhang.boot.model.entity.QuestionBank">
                <id property="id" column="id" jdbcType="BIGINT"/>
                    <result property="title" column="title" jdbcType="VARCHAR"/>
                    <result property="description" column="description" jdbcType="CLOB"/>
                    <result property="picture" column="picture" jdbcType="VARCHAR"/>
                    <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
                    <result property="reviewMessage" column="reviewMessage" jdbcType="VARCHAR"/>
                    <result property="reviewerId" column="reviewerId" jdbcType="BIGINT"/>
                    <result property="reviewTime" column="reviewTime" jdbcType="TIMESTAMP"/>
                    <result property="viewNum" column="viewNum" jdbcType="INTEGER"/>
                    <result property="priority" column="priority" jdbcType="INTEGER"/>
                    <result property="creator" column="creator" jdbcType="VARCHAR"/>
                    <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
                    <result property="updater" column="updater" jdbcType="VARCHAR"/>
                    <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                    <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
            id,
            title,
            description,
            picture,
            reviewStatus,
            reviewMessage,
            reviewerId,
            reviewTime,
            viewNum,
            priority,
            creator,
            createTime,
            updater,
            updateTime,
            deleted
    </sql>
</mapper>
