<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xzhang.boot.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="cn.xzhang.boot.model.entity.Question">
                <id property="id" column="id" jdbcType="BIGINT"/>
                    <result property="title" column="title" jdbcType="VARCHAR"/>
                    <result property="content" column="content" jdbcType="CLOB"/>
                    <result property="tags" column="tags" jdbcType="VARCHAR"/>
                    <result property="answer" column="answer" jdbcType="CLOB"/>
                    <result property="source" column="source" jdbcType="VARCHAR"/>
                    <result property="needVip" column="needVip" jdbcType="TINYINT"/>
                    <result property="viewNum" column="viewNum" jdbcType="INTEGER"/>
                    <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
                    <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
                    <result property="creator" column="creator" jdbcType="VARCHAR"/>
                    <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
                    <result property="updater" column="updater" jdbcType="VARCHAR"/>
                    <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                    <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
            id,
            title,
            content,
            tags,
            answer,
            `source`,
            needVip,
            viewNum,
            thumbNum,
            favourNum,
            creator,
            createTime,
            updater,
            updateTime,
            deleted
    </sql>
</mapper>
