<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xzhang.boot.model.mapper.ThumbMapper">

    <resultMap id="BaseResultMap" type="cn.xzhang.boot.model.entity.Thumb">
                <id property="id" column="id" jdbcType="BIGINT"/>
                    <result property="userId" column="userId" jdbcType="BIGINT"/>
                    <result property="targetId" column="targetId" jdbcType="BIGINT"/>
                    <result property="targetType" column="targetType" jdbcType="TINYINT"/>
                    <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
                    <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
                    <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
            id,
            userId,
            targetId,
            targetType,
            createTime,
            updateTime,
            isDelete
    </sql>
</mapper>
